@model ThomasConstruction.Models.ProjectModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="project_name" class="control-label"></label>
                <input asp-for="project_name" class="form-control" />
                <span asp-validation-for="project_name" class="text-danger"></span>
            </div>
          
          
             <div class="form-group">
                <label asp-for="id_customer">Customer</label>
                <!-- Dropdown con los estados -->
           <select asp-for="id_customer" class="form-select" name="id_customer" asp-items="ViewBag.Customers")">
            <option value="">-- Select Customer --</option>
            </select>
            <span asp-validation-for="id_customer" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="budget" class="control-label"></label>
                <input asp-for="budget" class="form-control" />
                <span asp-validation-for="budget" class="text-danger"></span>
            </div>

               <div class="form-group">
                <label asp-for="downpayment" class="control-label"></label>
                <input asp-for="downpayment" class="form-control" />
                <span asp-validation-for="downpayment" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="project_date" class="control-label"></label>
                <input asp-for="project_date" class="form-control" />
                <span asp-validation-for="project_date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
