@model ThomasConstruction.Models.PaymentModel

@{
    ViewData["Title"] = "Create";
}

<h4>Create Payment</h4>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="row g-3 needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="payment_date" class="control-label"></label>
                <input asp-for="payment_date" class="form-control" id="validationCustom01" required />
                <span asp-validation-for="payment_date" class="text-danger"></span>
            </div>
          
          
             <div class="form-group">
                <label asp-for="id_project">Project</label>
                <!-- Dropdown con los estados -->
           <select asp-for="id_project" class="form-select" id="validationCustom02" required name="id_project" asp-items="ViewBag.Projects")">
            <option value="">-- Select Project --</option>
            </select>
            <span asp-validation-for="id_project" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="amount" class="control-label"></label>
                <input asp-for="amount" class="form-control" id="validationCustom01" required />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>

               <div class="form-group">
                <label asp-for="details" class="control-label"></label>
                <input asp-for="details" class="form-control" />
                <span asp-validation-for="details" class="text-danger"></span>
            </div>


            <div class="form-group">
                  <div class="d-flex justify-content-begin gap-2 mt-4">
                <input type="submit" value="Create" class="btn btn-success" />
                 <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

      <script src="~/js/validation.js"></script>
}
